@using Otello.Models
@model ViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Otello | Elevate Your Everyday Shopping.";
    List<string> brandFilter = new List<string>();
    List<string> imageList = new List<string>();
}
<div class="position-relative col-12 overflow-hidden">
    <div class="product-overlay-index text d-flex justify-content-center align-items-center text-dark" >
        <div class="overlay-text-container text-center" style="right: 0px;">
            <h1 style="font-size: 45px;" class="">Shop for your holiday</h1>
            <h2>Enjoy a 25% dicount on select holiday items.</h2>
        </div>

    </div>
    <img style="min-width: 100%; height: 500px; object-fit: cover; object-position: 0% 0%" src="~/assets/thumbnails/holiday.jpg" />
</div>
<div id="scroll-wrapper" class="container-fluid col-11 col-sm-9  pt-5">
    

    <div class="row justify-content-center " >
        <h3 class="left-pad pb-0 fw-bold">Shop everything</h3>
        <div class="deals-grid" style="padding-top: 15px;">
            <div class="deals-grid-item gitem-1">
             <a class="fill position-relative text-decoration-none text-dark " asp-controller="Products" asp-action="Category" asp-route-type="Electronics">

                <div class="thumbnail-header text-center ">
                    <h2>Shop the latest tech</h2>
                    
                </div>
                <img class="thumbnail-images" src="/assets/thumbnails/tech2.jpg" />
                </a>
            </div>
            <div class="deals-grid-item gitem-2 " >
                <a class="fill position-relative text-decoration-none text-dark " asp-controller="Products" asp-action="Category" asp-route-type="Halloween">
                <div class="thumbnail-header text-center mt-5" style="">
                    <h1 class="fw-bold">For the Halloween prepper</h1>  
                    
              </div>
                <img class="thumbnail-images" src="/assets/thumbnails/halloween2.jpg" />    
                </a>
            </div> 
            <div class="deals-grid-item gitem-3 " >
                             <a class="fill position-relative text-decoration-none text-dark " asp-controller="Products" asp-action="Category" asp-route-type="Back to School">

              <div class="thumbnail-header mt-5">
                    <h1>Back to school specials</h1> 
                    <h6>Find supplies for your K through College student.</h6>
                </div>
                    
                <img class="thumbnail-images" src="/assets/thumbnails/back-to-school.jpg" />
                </a>
            </div>
            <div class="deals-grid-item gitem-4 justify-content-center align-items-center" >
                <a class="fill position-relative text-decoration-none text-dark d-flex justify-content-center align-items-center" asp-controller="Products" asp-action="Category" asp-route-type="Fall">
                <div class="thumbnail-header text-center mb-5 text-black"> 
                    <h2 class="fw-bold">Seasons Greetings</h2>
                    <h6>Welcome fall with our colletion of fall themed decorations.</h6>
                </div>
                <img class="thumbnail-images" src="/assets/thumbnails/fall.jpeg" />
                </a>
            </div>
            <div class="deals-grid-item gitem-5" >
                <a class="fill position-relative" asp-controller="Products" asp-action="Apparel" >
                    
                <div class="thumbnail-header text-start text-light h-100 d-flex flex-column justify-content-end align-items-center  ">
                    <h2 class="fw-bold">Your wardrobe, Your way</h2>
                    <h6>Discover your look through our assortment of the latest looks</h6>
                </div>
                <img class="thumbnail-images" src="/assets/thumbnails/fashion.jpg" />
                </a>
            </div>
            <div class="deals-grid-item gitem-6 not-allowed" >
                             <a class="fill position-relative text-decoration-none text-dark " asp-controller="Products" asp-action="Category" asp-route-type="Outdoors">

                    <img class="thumbnail-images" src="/assets/thumbnails/outdoors.jpeg" />
                </a>
            </div>
            <div class="deals-grid-item gitem-7 ">
                 <a class="fill position-relative" asp-controller="Products" asp-action="Grocery" >
                <div class="thumbnail-header text-start mb-5 col-6 ">
                    <h2 class="fw-light text-dark">Freshness Delivered: From Farm to Your Doorstep</h2>
                    
                </div>
                <img class="thumbnail-images" src="/assets/thumbnails/produce.jpeg" />

                </a>
            </div>
             
           
        </div>

        
    </div>
    <div class="row justify-content-center mt-3 ">
        <div class="my-pad">
            <div class="tip d-flex justify-content-center align-items-center">
                <h4>Sign up or log in to start filling your cart.</h4>
                <a class="signup-button text-decoration-none" asp-controller="ShoppingCart" asp-action="Index">
                    <p class="text-black fs-6 mb-0">View my cart</p>
                </a>
            </div>
        </div>
       
        </div>
    
    <div class="row mt-5 ">
        <h3 class="left-pad pb-0 fw-bold">Get ready for the big game</h3>
        <h6 class="left-pad">Chips and quick meals.</h6>
        <div class="cover">
            <button class="left" onclick="leftScroll(this)">
                <div class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                    <img style="width: 70%; height: 70%; background-color:transparent" src="assets/left-a.png" />

                </div>
            </button>
            <ul class="plain-list horizontal-product-list scroll-images pt-4 pb-4">
                                    
                @{
                    List<string> uniqueproduct = new List<string>();
                }
        
        @foreach(var productImage in Model.ProductImagesModel)
        {
                    @foreach (var product in Model.ProductModel)
                    {

                        if (product.Id == productImage.ProductId && !uniqueproduct.Contains(product.Id.ToString()) )
                        {
                            if (product.Grouping == "Gameday")
                            {
                                uniqueproduct.Add(product.Id.ToString());
                                <li class="me-3 d-flex flex-column justify-content-between align-items-center " style="min-width: 200px; max-width: 200px;">
                                    <div class=" text  m-2 p-0 overflow-hidden">

                                        <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">

                                            <img class="horizontal-product-list-image" src="@(productImage.Image1)" alt="product image for " />
                                            <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                            <h4 class="fs-5">@(product.Name)</h4>
                                          
                                            @if(product.Type == "Shoe")
                                            {
                                            <h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)</h5>
                                            }
                                            else{
                                                <h6 class=" "> @(product.Brand) • @(product.Type)</h6>


                                            }

                                        </a>
                                    </div>
                                    <a class="d-flex justify-content-center align-items-center quick-add text-decoration-none text-light" asp-controller="ShoppingCart" asp-action="QuickAddToCart" asp-route-cartItemId="@(product.Id)" asp-route-totalCost="@(product.Price)">
                                        <h6 class="p-0 m-0">Add to Cart</h6>
                                    </a>
                                </li>
                            }
                          
                        }
                       
                    }

                }
         
        </ul>
            <button class="right" onclick="rightScroll(this)">
                <div  class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                    <img style="width: 70%; height: 70%; background-color:transparent" src="assets/right-a.png" />
                </div>
               
            </button>
        </div>
        

           
    
    </div>
    <hr />
    <div class="row mt-4 mb-5 ">
        <h3 class="left-pad pb-0 fw-bold">Fruits & Veggies</h3>
        <h6 class="left-pad">Our freshset produce, healthy for the whole family.</h6>
        <div class="cover ">
            <button class="left" onclick="leftScroll(this)">
                <div class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                    <img style="width: 70%; height: 70%; background-color:transparent" src="assets/left-a.png" />

                </div>
            </button>
            <ul class="plain-list horizontal-product-list scroll-images pt-4 pb-4">

                @{
                    uniqueproduct.Clear();
                }

                @foreach (var productImage in Model.ProductImagesModel)
                {
                    @foreach (var product in Model.ProductModel)
                    {

                        if (product.Id == productImage.ProductId && !uniqueproduct.Contains(product.Id.ToString()))
                        {
                            if (product.Grouping == "Fruit" || product.Grouping == "Veggie")
                            {
                                uniqueproduct.Add(product.Id.ToString());
                                <li class="me-3 d-flex flex-column justify-content-between align-items-center" style="min-width: 200px; max-width: 200px;">
                                    <div class=" text  m-2 p-0 overflow-hidden">

                                        <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">

                                            <img class="horizontal-product-list-image" src="@(productImage.Image1)" alt="product image for " />
                                            <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price) <small class="fw-light" style="color: dimgray;">each</small></p>
                                            <h4 class="fs-5">@(product.Name)</h4>
                                           
                                            @if(product.Type == "Shoe")
                                            {
                                            <h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)</h5>
                                            }
                                            else{
                                                <h6 class=" "> @(product.Brand) • @(product.Type)</h6>


                                            }

                                        </a>
                                    </div>
                                    <a class=" quick-add text-decoration-none text-light" asp-controller="ShoppingCart" asp-action="QuickAddToCart" asp-route-cartItemId="@(product.Id)" asp-route-totalCost="@(product.Price)">
                                        <h6 class="p-0 m-0">Add to Cart</h6>
                                    </a>
                                </li>
                            }

                        }

                    }

                }

            </ul>
            <button class="right" onclick="rightScroll(this)">
                <div  class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                    <img style="width: 70%; height: 70%; background-color:transparent" src="assets/right-a.png" />
                </div>

            </button>
        </div>
    </div>

    <div class="row  ">
        <div class="deals-grid2 mt-sm-5 mb-sm-5">
            <div class="deals-grid-info g2item-1" >
                <div class="thumbnail-header text-center overflow-hidden text-light fill d-flex align-items-center justify-content-center">
                    <h1 class="fw-bold">Our Winter Selection</h1>
                    
                </div>
                <img class="thumbnail-images " src="/assets/thumbnails/winter-sky.jpg" />
            </div>
            <div class="deals-grid-item g2item-2" >
               
                
                    <a class="fill position-relative text-decoration-none text-dark " asp-controller="Products" asp-action="Category" asp-route-type="WinterWear">
                        <div class="thumbnail-header d-flex justify-content-start  " style="width:150px;">
                            <h1 class="fw-bold text-light">Winter Clothes</h1>

                        </div>
                        <img class="thumbnail-images " src="/assets/thumbnails/winter-wear.png" />
                    </a>
                
            
                
            </div>
            <div class="overflow-hidden  g2item-4">
                <h3 class="cover fw-bold">Christmas Spirit</h3>
                <div class="cover ">
                    <button class="left" onclick="leftScroll(this)">
                        <div class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                            <img style="width: 70%; height: 70%; background-color:transparent" src="assets/left-a.png" />

                        </div>
                    </button>
                    <ul class="pb-4 plain-list horizontal-product-list scroll-images ">

                        @{
                            uniqueproduct.Clear();
                        }

                        @foreach (var productImage in Model.ProductImagesModel)
                        {
                            @foreach (var product in Model.ProductModel)
                            {

                                if (product.Id == productImage.ProductId && !uniqueproduct.Contains(product.Id.ToString()))
                                {
                                    if (product.Grouping == "Christmas")
                                    {
                                        uniqueproduct.Add(product.Id.ToString());
                                        <li class="me-3 d-flex flex-column justify-content-between " style=" min-width: 200px; max-width: 200px;">
                                            <div class=" text  m-2 p-0 overflow-hidden">

                                                <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">

                                                    <img class="horizontal-product-list-image" src="@(productImage.Image1)" alt="product image for " />
                                                    <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price) <small class="fw-light" style="color: dimgray;">each</small></p>
                                                    <h4 style="max-height: 50px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="fs-5">@(product.Name)</h4>

                                                    @if (product.Type == "Shoe")
                                                    {
                                                        <h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)</h5>
                                                    }
                                                    else
                                                    {
                                                        <h6 class=" "> @(product.Brand) • @(product.Type)</h6>


                                                    }

                                                </a>
                                            </div>
                                            <a class="align-self-end quick-add text-decoration-none text-light" asp-controller="ShoppingCart" asp-action="QuickAddToCart" asp-route-cartItemId="@(product.Id)" asp-route-totalCost="@(product.Price)">
                                                <h6 class="p-0 m-0">Add to Cart</h6>
                                            </a>
                                        </li>
                                    }

                                }

                            }

                        }

                    </ul>
                    <button class="right" onclick="rightScroll(this)">
                        <div class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                            <img style="width: 70%; height: 70%; background-color:transparent" src="assets/right-a.png" />
                        </div>

                    </button>
                </div>
            </div>
            <div class="deals-grid-item g2item-3" >
                <a class="fill position-relative text-decoration-none text-dark " asp-controller="Products" asp-action="Category" asp-route-type="Candles">
                    <div class="thumbnail-header text-center  text-light d-flex align-items-center flex-column col-12" style="">
                        <h1 class="fw-bold ">Seasonal Scents</h1>
                        <h6 class="col-10">From Thanksgiving to Christmas, find the perfect scent for your holiday mood. </h6>
                    </div>
                    <img class="thumbnail-images" src="/assets/thumbnails/winter-candles.webp" />
                </a>
            </div>
            
            
        </div>
        </div>
        <div class="row mt-5 mb-5 ">
            <h3 class="left-pad pb-0 fw-bold">Flavor's favor</h3>
             <h6 class="left-pad">Spice up any meal with our selection.  </h6>
            <div class="cover ">
                <button class="left" onclick="leftScroll(this)">
                    <div  class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                        <img style="width: 70%; height: 70%; background-color:transparent" src="assets/left-a.png" />

                    </div>
                </button>
                <ul class="plain-list horizontal-product-list scroll-images pt-4 pb-4">

                    @{
                        uniqueproduct.Clear();
                    }

                    @foreach (var productImage in Model.ProductImagesModel)
                    {
                        @foreach (var product in Model.ProductModel)
                        {

                            if (product.Id == productImage.ProductId && !uniqueproduct.Contains(product.Id.ToString()))
                            {
                                if (product.Type == "Condiments")
                                {
                                    uniqueproduct.Add(product.Id.ToString());
                                    <li class="me-3 d-flex flex-column justify-content-between align-items-center" style="min-width: 200px; max-width: 200px; ">
                                        <div class=" text  m-2 p-0 overflow-hidden">

                                            <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">

                                                <img class="horizontal-product-list-image" src="@(productImage.Image1)" alt="product image for " />
                                                <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price) <small class="fw-light" style="color: dimgray;">each</small></p>
                                                <h4 class="fs-5">@(product.Name)</h4>

                                                @if (product.Type == "Shoe")
                                                {
                                                    <h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)</h5>
                                                }
                                                else
                                                {
                                                    <h6 class=" "> @(product.Brand) • @(product.Type)</h6>


                                                }

                                            </a>
                                        </div>
                                            <a class=" quick-add text-decoration-none text-light" asp-controller="ShoppingCart" asp-action="QuickAddToCart" asp-route-cartItemId="@(product.Id)" asp-route-totalCost="@(product.Price)">
                                            <h6 class="p-0 m-0">Add to Cart</h6>
                                        </a>
                                    </li>
                                }

                            }

                        }

                    }

                </ul>
                <button class="right" onclick="rightScroll(this)">
                    <div  class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
                        <img style="width: 70%; height: 70%; background-color:transparent" src="assets/right-a.png" />
                    </div>

                </button>
            </div>
        </div>

        </div>


  


