@using Otello.Models
@model ViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = ViewBag.Type;
    List<string> brandFilter = new List<string>();
    List<string> imageList = new List<string>();
    foreach (var item in ViewBag.FilterList)
    {
       
                    <p>@item</p>
    }
}



@{
    var category = ViewBag.CategoryId;


    
    var catString = category == 1 ? "Apparel" : category == 3 ? "Grocery" : category == 4 ? "Home" : category == 9 ? "Essentials" : "";
}
<div  class="col-12 d-flex flex-column align-items-center @(Model.UniqueName != null && Model.UniqueName.Contains("Reebok") ? "" : "")">
    <div style="background-color: #f7f7f7;" class="path d-flex justify-content-center align-items-center col-12">
        <ul class="d-flex mb-0 p-2" style="list-style-type: none; align-items:center;">

            <li class="text-decoration-underline position-relative"><a class="path-link " asp-controller="Home" asp-action="Index"></a>Otello</li>
            @if(!(catString == "")){
                <li><h6>&nbsp; > &nbsp;</h6></li>
                <li class="text-decoration-underline position-relative"><a class="path-link " asp-controller="Products" asp-action=@catString></a>@catString</li>
            }
           
            <li><h6>&nbsp; > &nbsp;</h6></li>
            <li class=" position-relative">@ViewBag.Type</li>


        </ul>

    </div>
    <div class="container-fluid col-11  m-0 d-flex justify-content-center flex-column align-items-center " >
        
        <h1 class="fw-bold mt-4 mb-5">@ViewBag.Type</h1>
        @*<a class="btn btn-primary" id="filterCollapse" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-controls="collapseFilter">Filter Items</a>*@ 

        <div class="category-body-container row col-12 pt-5 d-flex justify-content-center " >
            
                <div class="filter-column col-md-3 col-sm-9 col-12   " id="collapseFilter" >
                    <div class="col-12 d-flex justify-content-center">
                        <h2 class="text-white">Filter our selections</h2>
                    </div>
                    <div class="">
                        <div class="p-2">

                            <form asp-action="Category" asp-controller="Products" method="post">
                                <h3>Filter to include:</h3>
                                <div class="accordion myaccordian mb-4 mt-4" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                <div class=" col-11 d-flex justify-content-between align-items-baseline">


                                                    <h5 class="m-0">Brands</h5>
                                                </div>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                                            <div class="accordion-body">
                                                <div>



                                                    @foreach (var checkbox in Model.Checkboxes)
                                                    {
                                                        if (checkbox.Type == "Brands" && checkbox.Value != "" && checkbox.Value != null)
                                                        {
                                                            <ul class="p-0">

                                                                <input type="checkbox"
                                                                       value="@checkbox.Value"
                                                                       name="UniqueName"
                                                                       id="checkbox_@checkbox.Value"
                                                                       checked="@(Model.UniqueName != null && Model.UniqueName.Contains(checkbox.Value) ? true : false)" />
                                                                <label for="checkbox_@checkbox.Value">
                                                                    @checkbox.Description
                                                                </label>
                                                            </ul>
                                                        }

                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (ViewBag.Type == "Shoe" || ViewBag.Type == "Accessories" || ViewBag.type == "WinterWear")
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                    <div class=" col-11 d-flex justify-content-between align-items-baseline">


                                                        <h5 class="m-0">Gender</h5>
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                                <div class="accordion-body">
                                                    <div class="mt-3">
                                                        @if (ViewBag.Type != "Mens")
                                                        {

                                                            @foreach (var checkbox in Model.Checkboxes)
                                                            {
                                                                if (checkbox.Type == "Gender")
                                                                {
                                                                    <ul class="p-0">
                                                                        <input type="checkbox"
                                                                               value="@checkbox.Value"
                                                                               name="UniqueName"
                                                                               id="checkbox_@checkbox.Value"
                                                                               checked="@(Model.UniqueName != null && Model.UniqueName.Contains(checkbox.Value) ? true : false)" />
                                                                        <label for="checkbox_@checkbox.Value">
                                                                            @checkbox.Description
                                                                        </label>
                                                                    </ul>

                                                                }
                                                            }
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                <div class=" col-11 d-flex justify-content-between align-items-baseline">


                                                    <h5 class="m-0">Price</h5>
                                                </div>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <div class="mt-3">

                                                    <div class="mt-3">
                                                        <div class="slidecontainer">
                                                            <label for="maxslider">Max Price: $<p class="d-inline" id="demo1"></p> </label>
                                                            <input type="range" min="@ViewBag.MinPrice" max="@Model.MaxPrice" value="@ViewBag.chosenMax" name="maxslider" class="slider" id="maxRange">


                                                            <label class="d-block" for="minslider">Min Price: $<p class="d-inline" id="demo2"></p></label>
                                                            <input type="range" min="@Model.MinPrice" max="@Model.MaxPrice" value="@ViewBag.chosenMin" name="minslider" class="slider" id="minRange">

                                                            <script type="text/javascript">
                                                                var slider1 = document.getElementById("maxRange");
                                                                var output1 = document.getElementById("demo1");
                                                                var slider2 = document.getElementById("minRange");
                                                                var output2 = document.getElementById("demo2");
                                                                output1.innerHTML = slider1.value; // Display the default slider value
                                                                output2.innerHTML = slider2.value;


                                                                // Update the current slider value (each time you drag the slider handle)
                                                                slider1.oninput = function () {
                                                                    output1.innerHTML = this.value;
                                                                }
                                                                slider2.oninput = function () {
                                                                    output2.innerHTML = this.value;
                                                                }
                                                            </script>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                <div class=" col-11 d-flex justify-content-between align-items-baseline">


                                                    <h5 class="m-0">Groupings</h5>
                                                </div>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                                            <div class="accordion-body">
                                                <div class="mt-3">
                                                    @foreach (var checkbox in Model.Checkboxes)
                                                    {
                                                        if (checkbox.Type == "Groupings" && checkbox.Value != "" && checkbox.Value != null)
                                                        {
                                                            <ul class="p-0">
                                                                <input type="checkbox"
                                                                       value="@checkbox.Value"
                                                                       name="UniqueName"
                                                                       id="checkbox_@checkbox.Value"
                                                                       checked="@(Model.UniqueName != null && Model.UniqueName.Contains(checkbox.Value) ? true : false)" />
                                                                <label for="checkbox_@checkbox.Value">
                                                                    @checkbox.Description
                                                                </label>
                                                            </ul>

                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="d-flex col-12 justify-content-end mt-3">
                                    <button class="filter-button btn btn-primary" type="submit">
                                        Update
                                    </button>
                                </div>

                            </form>


                            @* <h3>Brand</h3>
                         <input type="checkbox" id="nike" name="nike"  />
                         <label for="nike">Nike</label>
                         <input type="checkbox" id="reebok" name="reebok" />
                         <label for="reebok">Reebok</label> *@
                        </div>
                    </div>
                </div>

           
           
            @{
                int resultCount=0;
            }
            <div class="product-column col-md-9 col-12 d-flex justify-content-start flex-wrap position-relative">
                <hr class="col-12" />
               
                @foreach (var productImage in Model.ProductImagesModel)
                {
                   
                    @foreach (var product in Model.ProductModel)
                    {
                       
                        //var temp = product.CategoryId;
                        //bool temp2 = temp == 1;
                        if(ViewBag.Type == product.Type){
                         if ( productImage.ProductId == product.Id && productImage.Id > 0 &&  productImage.variant == false)
                        {
                           
                            @if (product.Price < ViewBag.chosenMax && product.Price > ViewBag.chosenMin)
                            {

                                if (Model.UniqueName != null)
                                {



                                    List<string> uniqueproduct = new List<string>();
                                    @foreach (var item in Model.UniqueName)
                                    {



                                        if (item == product.Brand)
                                        {
                                            @foreach (var productImage2 in Model.ProductImagesModel)
                                            {
                                                if (productImage2.ProductId == product.Id)
                                                    imageList.Add(productImage2.Image1.ToString());
                                                }
                                                var json = JsonConvert.SerializeObject(imageList.ToArray());
                                                imageList.Clear();
                                                
                                                <div class="product-card fit text   overflow-hidden">

                                                <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                       
                                                    <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                        @{
                                                            resultCount++;
                                                            int ratingCount = 0;
                                                            float ratingTotal = 0;
                                                            float averageRating = 0;
                                                            foreach (var productReview in Model.ProductReviewsModel)
                                                            {
                                                                if (productReview.ProductId == product.Id)
                                                                {
                                                                    ratingTotal += (float)productReview.Rating;
                                                                    ratingCount++;
                                                                }

                                                            }
                                                            if (ratingCount != 0)
                                                            {
                                                                averageRating = ratingTotal / ratingCount;
                                                            }

                                                        }

                                                        <div class="d-flex">
                                                            <div class="rating">


                                                                <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                </div>
                                                                <div class="rating-lower fs-5">
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                </div>
                                                            </div>
                                                            <p class="fs-5 m-0"> (@ratingCount)</p>
                                                        </div>
                                                    </div>

                                                    <h4 class="fs-5">@(product.Name)</h4>

                                                    @if (ViewBag.Type == "Shoe")
                                                    {
                                                        <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                    }else{
                                                        <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                    }
                                                </a>
                                            </div>
                                        }
                                        if (item == product.Grouping)
                                        {
                                            @foreach (var productImage2 in Model.ProductImagesModel)
                                            {
                                                if (productImage2.ProductId == product.Id)
                                                    imageList.Add(productImage2.Image1.ToString());
                                            }
                                            var json = JsonConvert.SerializeObject(imageList.ToArray());
                                            imageList.Clear();

                                            <div class="product-card fit text   overflow-hidden">

                                                <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                        
                                                    <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                        @{
                                                                resultCount++;
                                                            int ratingCount = 0;
                                                            float ratingTotal = 0;
                                                            float averageRating = 0;
                                                            foreach (var productReview in Model.ProductReviewsModel)
                                                            {
                                                                if (productReview.ProductId == product.Id)
                                                                {
                                                                    ratingTotal += (float)productReview.Rating;
                                                                    ratingCount++;
                                                                }

                                                            }
                                                            if (ratingCount != 0)
                                                            {
                                                                averageRating = ratingTotal / ratingCount;
                                                            }

                                                        }

                                                        <div class="d-flex">
                                                            <div class="rating">


                                                                <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                </div>
                                                                <div class="rating-lower fs-5">
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                </div>
                                                            </div>
                                                            <p class="fs-5 m-0"> (@ratingCount)</p>
                                                        </div>
                                                    </div>

                                                    <h4 class="fs-5">@(product.Name)</h4>

                                                    @if (ViewBag.Type == "Shoe")
                                                    {
                                                        <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                    }
                                                    else
                                                    {
                                                        <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                    }
                                                </a>
                                            </div>
                                        }
                                        if (item.Equals(product.Sex.ToString()) && !uniqueproduct.Contains(product.Id.ToString()))
                                        {
                                            @foreach (var productImage2 in Model.ProductImagesModel)
                                            {
                                                if (productImage2.ProductId == product.Id)
                                                    imageList.Add(productImage2.Image1.ToString());
                                            }
                                            var json = JsonConvert.SerializeObject(imageList.ToArray());
                                            imageList.Clear();
                                           

                                            <div class="product-card fit text  overflow-hidden">

                                                <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                        
                                                    <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                        @{
                                                            resultCount++;
                                                            int ratingCount = 0;
                                                            float ratingTotal = 0;
                                                            float averageRating = 0;
                                                            foreach (var productReview in Model.ProductReviewsModel)
                                                            {
                                                                if (productReview.ProductId == product.Id)
                                                                {
                                                                    ratingTotal += (float)productReview.Rating;
                                                                    ratingCount++;
                                                                }

                                                            }
                                                            if (ratingCount != 0)
                                                            {
                                                                averageRating = ratingTotal / ratingCount;
                                                            }

                                                        }

                                                        <div class="d-flex">
                                                            <div class="rating">


                                                                <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                </div>
                                                                <div class="rating-lower fs-5">
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                    <span>★</span>
                                                                </div>
                                                            </div>
                                                            <p class="fs-5 m-0"> (@ratingCount)</p>
                                                        </div>
                                                    </div>

                                                    <h4 class="fs-5">@(product.Name)</h4>

                                                    @if (ViewBag.Type == "Shoe")
                                                    {
                                                        <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                    }
                                                    else
                                                    {
                                                        <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                    }
                                                </a>
                                            </div>
                                        }

                                    }

                                }
                                else
                                {
                                    @foreach (var productImage2 in Model.ProductImagesModel)
                                    {
                                            if (productImage2.ProductId == product.Id)
                                            {
                                      
                                                imageList.Add(productImage2.Image1.ToString());
                                            }
                                           
                                    }
                                    var json = JsonConvert.SerializeObject(imageList.ToArray());
                                    imageList.Clear();
                                   

                                    <div class="product-card fit text   overflow-hidden" >

                                        <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                
                                            <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price) </p>
                                                @{
                                                        resultCount++;
                                                    int ratingCount = 0;
                                                    float ratingTotal = 0;
                                                    float averageRating = 0;
                                                    foreach (var productReview in Model.ProductReviewsModel)
                                                    {
                                                        if (productReview.ProductId == product.Id)
                                                        {
                                                            ratingTotal += (float)productReview.Rating;
                                                            ratingCount++;
                                                        }

                                                    }
                                                    if (ratingCount != 0)
                                                    {
                                                        averageRating = ratingTotal / ratingCount;
                                                    }

                                                }
                                                
                                                <div class="d-flex">
                                                    <div class="rating">


                                                        <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                            <span>★</span>
                                                            <span>★</span>
                                                            <span>★</span>
                                                            <span>★</span>
                                                            <span>★</span>
                                                        </div>
                                                        <div class="rating-lower fs-5">
                                                            <span>★</span>
                                                            <span>★</span>
                                                            <span>★</span>
                                                            <span>★</span>
                                                            <span>★</span>
                                                        </div>
                                                    </div>
                                                    <p class="fs-5 m-0"> (@ratingCount)</p>
                                                </div>
                                            </div>
                                            
                                            <h4 class="fs-5">@(product.Name)</h4>
                                            @if (ViewBag.Type == "Shoe")
                                                    {
                                                        <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                    }else{
                                                        <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                    }

                                        </a>
                                    </div>
                                }

                            }



                }
                        }else{
                            if (productImage.ProductId == product.Id && productImage.Id > 0 && product.Grouping == ViewBag.Type && productImage.variant == false)
                            {

                                @if (product.Price < ViewBag.chosenMax && product.Price > ViewBag.chosenMin)
                                {

                                    if (Model.UniqueName != null)
                                    {



                                        List<string> uniqueproduct = new List<string>();
                                        @foreach (var item in Model.UniqueName)
                                        {



                                            if (item == product.Brand)
                                            {
                                                @foreach (var productImage2 in Model.ProductImagesModel)
                                                {
                                                    if (productImage2.ProductId == product.Id)
                                                        imageList.Add(productImage2.Image1.ToString());
                                                }
                                                var json = JsonConvert.SerializeObject(imageList.ToArray());
                                                imageList.Clear();

                                                <div class="product-card fit text   overflow-hidden">

                                                    <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                        
                                                        <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                            @{
                                                                resultCount++;
                                                                int ratingCount = 0;
                                                                float ratingTotal = 0;
                                                                float averageRating = 0;
                                                                foreach (var productReview in Model.ProductReviewsModel)
                                                                {
                                                                    if (productReview.ProductId == product.Id)
                                                                    {
                                                                        ratingTotal += (float)productReview.Rating;
                                                                        ratingCount++;
                                                                    }

                                                                }
                                                                if (ratingCount != 0)
                                                                {
                                                                    averageRating = ratingTotal / ratingCount;
                                                                }

                                                            }

                                                            <div class="d-flex">
                                                                <div class="rating">


                                                                    <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                    </div>
                                                                    <div class="rating-lower fs-5">
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                    </div>
                                                                </div>
                                                                <p class="fs-5 m-0"> (@ratingCount)</p>
                                                            </div>
                                                        </div>

                                                        <h4 class="fs-5">@(product.Name)</h4>

                                                        @if (ViewBag.Type == "Shoe")
                                                        {
                                                            <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                        }
                                                        else
                                                        {
                                                            <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                        }
                                                    </a>
                                                </div>
                                            }
                                            if (item == product.Grouping)
                                            {
                                                @foreach (var productImage2 in Model.ProductImagesModel)
                                                {
                                                    if (productImage2.ProductId == product.Id)
                                                        imageList.Add(productImage2.Image1.ToString());
                                                }
                                                var json = JsonConvert.SerializeObject(imageList.ToArray());
                                                imageList.Clear();

                                                <div class="product-card fit text   overflow-hidden">

                                                    <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                        
                                                        <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                            @{
                                                                resultCount++;
                                                                int ratingCount = 0;
                                                                float ratingTotal = 0;
                                                                float averageRating = 0;
                                                                foreach (var productReview in Model.ProductReviewsModel)
                                                                {
                                                                    if (productReview.ProductId == product.Id)
                                                                    {
                                                                        ratingTotal += (float)productReview.Rating;
                                                                        ratingCount++;
                                                                    }

                                                                }
                                                                if (ratingCount != 0)
                                                                {
                                                                    averageRating = ratingTotal / ratingCount;
                                                                }

                                                            }

                                                            <div class="d-flex">
                                                                <div class="rating">


                                                                    <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                    </div>
                                                                    <div class="rating-lower fs-5">
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                    </div>
                                                                </div>
                                                                <p class="fs-5 m-0"> (@ratingCount)</p>
                                                            </div>
                                                        </div>

                                                        <h4 class="fs-5">@(product.Name)</h4>

                                                        @if (ViewBag.Type == "Shoe")
                                                        {
                                                            <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                        }
                                                        else
                                                        {
                                                            <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                        }
                                                    </a>
                                                </div>
                                            }
                                            if (item.Equals(product.Sex.ToString()) && !uniqueproduct.Contains(product.Id.ToString()))
                                            {
                                                @foreach (var productImage2 in Model.ProductImagesModel)
                                                {
                                                    if (productImage2.ProductId == product.Id)
                                                        imageList.Add(productImage2.Image1.ToString());
                                                }
                                                var json = JsonConvert.SerializeObject(imageList.ToArray());
                                                imageList.Clear();


                                                <div class="product-card fit text   overflow-hidden">

                                                    <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                                       
                                                        <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                            @{
                                                                resultCount++;
                                                                int ratingCount = 0;
                                                                float ratingTotal = 0;
                                                                float averageRating = 0;
                                                                foreach (var productReview in Model.ProductReviewsModel)
                                                                {
                                                                    if (productReview.ProductId == product.Id)
                                                                    {
                                                                        ratingTotal += (float)productReview.Rating;
                                                                        ratingCount++;
                                                                    }

                                                                }
                                                                if (ratingCount != 0)
                                                                {
                                                                    averageRating = ratingTotal / ratingCount;
                                                                }

                                                            }

                                                            <div class="d-flex">
                                                                <div class="rating">


                                                                    <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                    </div>
                                                                    <div class="rating-lower fs-5">
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                        <span>★</span>
                                                                    </div>
                                                                </div>
                                                                <p class="fs-5 m-0"> (@ratingCount)</p>
                                                            </div>
                                                        </div>

                                                        <h4 class="fs-5">@(product.Name)</h4>

                                                        @if (ViewBag.Type == "Shoe")
                                                        {
                                                            <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                        }
                                                        else
                                                        {
                                                            <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                        }
                                                    </a>
                                                </div>
                                            }

                                        }

                                    }

                                    else
                                    {
                                        @foreach (var productImage2 in Model.ProductImagesModel)
                                        {
                                            if (productImage2.ProductId == product.Id)
                                                imageList.Add(productImage2.Image1.ToString());
                                        }
                                        var json = JsonConvert.SerializeObject(imageList.ToArray());
                                        imageList.Clear();
                                        

                                        <div class="product-card fit text   overflow-hidden">

                                            <a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">
                                              
                                                <img onmouseout="stopCycle(this, @(json))" onmouseover="cycleVariants(this, @(json))" class="product-image" src="@(productImage.Image1)" alt="product image for " />
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price)</p>
                                                    @{
                                                        resultCount++;
                                                        int ratingCount = 0;
                                                        float ratingTotal = 0;
                                                        float averageRating = 0;
                                                        foreach (var productReview in Model.ProductReviewsModel)
                                                        {
                                                            if (productReview.ProductId == product.Id)
                                                            {
                                                                ratingTotal += (float)productReview.Rating;
                                                                ratingCount++;
                                                            }

                                                        }
                                                        if (ratingCount != 0)
                                                        {
                                                            averageRating = ratingTotal / ratingCount;
                                                        }

                                                    }

                                                    <div class="d-flex">
                                                        <div class="rating">


                                                            <div class="rating-upper fs-5" style="width: @(averageRating * 20)%">
                                                                <span>★</span>
                                                                <span>★</span>
                                                                <span>★</span>
                                                                <span>★</span>
                                                                <span>★</span>
                                                            </div>
                                                            <div class="rating-lower fs-5">
                                                                <span>★</span>
                                                                <span>★</span>
                                                                <span>★</span>
                                                                <span>★</span>
                                                                <span>★</span>
                                                            </div>
                                                        </div>
                                                        <p class="fs-5 m-0"> (@ratingCount)</p>
                                                    </div>
                                                </div>

                                                <h4 class="fs-5">@(product.Name)</h4>
                                                @if (ViewBag.Type == "Shoe")
                                                {
                                                    <h4 class="mb-0 fs-6">@(product.Brand) • @((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : (product.Sex == 'U') ? "Unisex" : " ") @(product.Type)</h4>

                                                }
                                                else
                                                {
                                                    <h4 class="mb-0 fs-6">@(product.Brand) - @(product.Type)</h4>

                                                }

                                            </a>
                                        </div>
                                    }

                                }



                            }
                        }


                    }
                }
                <h5 class="position-absolute fw-bold " style="top:-6px; left: 14px;">@resultCount results</h5>
                
            </div>

        </div>

    </div>
</div>

