@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	foreach(var product in ViewBag.ProductModel)
	{
		if (product.Id == ViewBag.Id)
			ViewData["Title"] = product.Name;
	}
	
	List<int> colorList = new List<int>();
	List<int> vList = new List<int>();
	List<int> sizeList = new List<int>();
	bool canEditReview = false;
	int yourReviewId = 0;
	// for view data
	// List<ProductImages> ProductImages = ViewData["productImages"] as List<ProductImages>;
	// List<Product> Product = ViewData["product"] as List<Product>;
}





@if(ViewBag.TestAlert == "false")
{
	<h1>false</h1>
}
@if(ViewBag.TestAlert == "True" )
{

	

	<button id="testing123" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Success!</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>	The item:</p>
					<ul>
							<li>
					
					@foreach (Product product in ViewBag.ProductModel)
					{
						if(product.Id == ViewBag.Id){
						

							<p>@product.Name</p>
							
						}
					}
					</li>
					</ul>
					<p>has successfully been added to your cart!</p>
				</div>
				
			</div>
		</div>
	</div>
}
@{

	var grouping = "";
	var type = "";
	var brand = "";
	var category = -1;
	var name = "";

	foreach (Product product in ViewBag.ProductModel)
	{
		if (product.Id == ViewBag.Id)
		{

			name = product.Name;
			grouping = product.Grouping;
			type = product.Type;
			brand = product.Brand;
			category = product.CategoryId;


		}
	}
	var catString = category == 1 ? "Apparel" : category == 3 ? "Grocery" : category == 4 ? "Home" : category == 9 ? "Essentials" : "";
}

<div class="col-12 d-flex justify-content-center align-items-center flex-column">
	<div style="background-color: #f7f7f7;" class="path d-flex justify-content-center align-items-center col-12">
		<ul class="d-flex mb-0 p-2" style="list-style-type: none; align-items:center;">

			<li class="text-decoration-underline position-relative"><a class="path-link " asp-controller="Home" asp-action="Index"></a>Otello</li>
			<li><h6>&nbsp; > &nbsp;</h6></li>
			<li class="text-decoration-underline position-relative"><a class="path-link " asp-controller="Products" asp-action=@catString></a>@catString</li>
			<li><h6>&nbsp; > &nbsp;</h6></li>
			<li class="text-decoration-underline position-relative"><a class="path-link " asp-controller="Products" asp-action="Category" asp-route-type=@type></a>@type</li>
			<li><h6>&nbsp; > &nbsp;</h6></li>
			<li class="text-cap position-relative">@name</li>

		</ul>

	</div>
	<div class="product-display-container container-fluid col-xl-11  m-0 d-flex flex-column align-items-center" style="padding-top: 113px;">

		
		<div style="max-width: 1400px; " class="row col-12 ">
		
			<div class="col-lg-8 col-sm-7 ">
				<div class="tests " style="z-index: 5;">


					<div class="display-pad   ">
						@foreach (ProductImages productImage in ViewBag.ProductImagesModel)
						{
							@foreach (Product product in ViewBag.ProductModel)
							{
								//var temp = product.CategoryId;
								//bool temp2 = temp == 1;
								if (productImage.ProductId == product.Id && productImage.Id > 0 && ViewBag.Id == product.Id && ViewBag.colorId == productImage.colorId)
								{
									<ul class="product-display-list plain-list d-flex flex-column align-items-end justify-content-start">
										<li class="bg-dark">
											<img onmouseover="displayImage(this)" class=" product-display-list-image" src="@(productImage.Image1)" alt="product image for " />
										</li>
										@if (productImage.Image2 != null)
										{
											<li class="bg-dark">
												<img onmouseover="displayImage(this)" class="product-display-list-image" src="@(productImage.Image2)" alt="product image for " />
											</li>
										}
										@if (productImage.Image3 != null)
										{
											<li class="bg-dark">
												<img onmouseover="displayImage(this)" class="product-display-list-image" src="@(productImage.Image3)" alt="product image for " />
											</li>
										}
										@if (productImage.Image4 != null)
										{
											<li class="bg-dark">
												<img onmouseover="displayImage(this)" class="product-display-list-image" src="@(productImage.Image4)" alt="product image for " />
											</li>
										}
										@if (productImage.Image5 != null)
										{
											<li class="bg-dark">
												<img onmouseover="displayImage(this)" class="product-display-list-image" src="@(productImage.Image5)" alt="product image for " />
											</li>
										}
										@if (productImage.Image6 != null)
										{
											<li class="bg-dark">
												<img onmouseover="displayImage(this)" class="product-display-list-image" src="@(productImage.Image6)" alt="product image for " />
											</li>
										}

									</ul>
								}
							}
						}
					</div>
					<div style="width: 100%;" class=" display-pad  d-flex justify-content-center ">
						@foreach (ProductImages productImage in ViewBag.ProductImagesModel)
						{
							@foreach (Product product in ViewBag.ProductModel)
							{
								//var temp = product.CategoryId;
								//bool temp2 = temp == 1;
								if (productImage.ProductId == product.Id && productImage.Id > 0 && ViewBag.Id == product.Id && ViewBag.ColorId == productImage.colorId)
								{
									
									<div id="product-display-image" class=" magnifier-thumb-wrapper position-relative">
										<img id="thumb" src="@(productImage.Image1)" alt="product image for " />
									</div>
								}
							}
						}
					</div>
				</div>
			</div>
			


			<div class="  col-lg-4 col-sm-5 col-12">
				@foreach (ProductImages productImage in ViewBag.ProductImagesModel)
				{
					@foreach (Product product in ViewBag.ProductModel)
					{

						//var temp = product.CategoryId;
						//bool temp2 = temp == 1;


						if ( productImage.ProductId == ViewBag.Id && productImage.Id > 0 && ViewBag.ColorId == productImage.colorId && product.Id == ViewBag.Id)
						{
							<h2 class="mb-0">@(product.Name) </h2>
							if(product.Type == "Shoe")
							{
								<h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)</h5>
							}
							else{
															<h5 class=" "> @(product.Type)</h5>

								
							}
						<h4 class="mt-3">$@(product.Price) </h4>
							var stock = (product.Stock > 30) ? "text-success" : (product.Stock > 15) ? "text-warning" : "text-danger";
							<h6 class="mt-3"><span class="@(stock)">@(product.Stock) left in stock</span></h6>



							<h5 class="mt-4">Select a @(product.Type == "Frozen" || product.Type == "Condiments" || product.Type == "Snacks" || product.Type == "Produce" ? "flavor" : "style"):</h5>
							<ul class="color-list">
								@foreach (ProductVariations productVariation in ViewBag.Pe)
								{

									@if (productVariation.productId == product.Id)
									{
										if (colorList.Contains(productVariation.colorId))
										{

										}
										else
										{
											vList.Add(productVariation.Id);
											colorList.Add(productVariation.colorId);
										}
									}

								}


								@foreach (ProductVariations productVariation in ViewBag.Pe)
								{
									@foreach (ProductColors productColor in ViewBag.ProductColorsModel)
									{

										@foreach (int item in colorList)
										{

											@if (productColor.Id == item && productVariation.colorId == item && !vList.Contains(item) && productVariation.productId == ViewBag.Id)
											{

												vList.Add(item);


												<li class="color-list-item">
													@{
														bool isSelected2 = false;
														if (productVariation.colorId == ViewBag.ColorId)
														{
															isSelected2 = true;
														}
													}


													<a class="" asp-action="ProductDisplay" asp-route-id="@product.Id" asp-route-colorId="@item" asp-route-sizeId="@ViewBag.SizeId" asp-route-variationId="@productVariation.Id" asp-route-quantity="@ViewBag.Quantity">
														@foreach (ProductImages productImage2 in ViewBag.ProductImagesModel)
														{
															if (productImage2.colorId == item && productVariation.productId == productImage2.ProductId)
															{

																<img class="@(isSelected2 ? "selected" : "")" src="@(productImage2.Image1)" />
															}
														}

													</a>

												</li>
											}
										}
									}
								}
							</ul>



							<h5 class="mt-4">Select a Quantity:</h5>
							if (product.Stock >= 1)
							{

								<div style="z-index: 0;" class="dropdown" >
									<a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >

										@ViewBag.quantity
									</a>

									<ul class="dropdown-menu" style="width:fit-content; max-height: 200px; overflow: hidden; overflow-y: visible;"  >

										@for (int i = 1; i <= ((@product.Stock > 30) ? 30 : @product.Stock); i++)
										{
											<li class="col-12 secondary-list-item p-0">
												<a class=" fill text-decoration-none text-dark" asp-action="ProductDisplay" asp-route-id="@product.Id" asp-route-colorId="@ViewBag.ColorId" asp-route-sizeId="@ViewBag.SizeId" asp-route-variationId="@ViewBag.vId" asp-route-quantity="@i">
													<p class="p-1 m-0">@i</p>
												</a>
											</li>

										}								
									</ul>
								</div>
							}
							else
							{
								<p class="text-danger">Out of Stock</p>
							}

								@*<script type="text/javascript">
									 var select = document.getElementById("cars");

									 for (i = 1; i <= @product.Stock; i++) {
										 select.innerHTML += '<option>' + i + '</option>';
									 }
				</script>*@
							if(product.Size != "")
							{
								<h5 class="mt-4">Select a Size:</h5>
								<ul class="size-list">
									@foreach (ProductVariations productVariation in ViewBag.Pe)
									{
										@foreach (ProductColors productColor in ViewBag.ProductColorsModel)
										{
											if (productVariation.productId == ViewBag.Id && productVariation.colorId == ViewBag.ColorId && productImage.colorId == productVariation.colorId && !sizeList.Contains(productVariation.sizeId))
											{
												sizeList.Add(productVariation.sizeId);
												<li class="size-list-item">

													@foreach (ProductSizes productSize in ViewBag.ProductSizesModel)
													{
														if (productSize.Id == productVariation.sizeId)
														{
															bool isSelected = false;
															if (productVariation.Id == ViewBag.vId && productVariation.colorId == ViewBag.ColorId && productVariation.sizeId == ViewBag.SizeId)
															{
																isSelected = true;
															}

															<a class="@(isSelected ? "selected" : "") fill d-flex justify-content-center align-content-center flex-wrap text-decoration-none" asp-action="ProductDisplay" asp-route-id="@product.Id" asp-route-colorId="@productVariation.colorId" asp-route-sizeId="@productVariation.sizeId" asp-route-variationId="@productVariation.Id" asp-route-quantity="@ViewBag.quantity">

																<h5>@productSize.Size</h5>
															</a>
														}

													}
												</li>
											}

										}
									}

								</ul>
							}else{

							}


							if (product.Stock >= 1)
							{
								<h6 class="mt-4">Shipping</h6>
								<p>View our shipping options at checkout.</p>
								@foreach (ProductVariations productVariation in ViewBag.Pe)
								{


									if (productVariation.Id == ViewBag.vId && productVariation.colorId == ViewBag.ColorId && productVariation.sizeId == ViewBag.SizeId)
									{
										<a class="tocart-button mt-4" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-quantity="@ViewBag.quantity" asp-route-variationId="@(productVariation.Id)" asp-route-totalCost="@(product.Price)" asp-route-cartItemId="@(product.Id)" asp-route-cId="@(ViewBag.ColorId)" asp-route-sId="@(ViewBag.SizeId)" asp-route-vId="@(ViewBag.vId)" onclick="">
											<p class="text-black fs-6 mb-0">Add to Cart</p>
										</a>
									}

								}
							}
							<h6 class="mt-4">Description</h6>
							<p >@(product.Description)</p>
							<h6>Attributes</h6>
							<ul class="mt-4">
								<li>
									@foreach (ProductColors productColor in ViewBag.ProductColorsModel)
									{
										@foreach (ProductVariations productVariation in ViewBag.Pe)
										{
											if (ViewBag.colorId == productColor.Id && productVariation.colorId == productColor.Id && productVariation.Id == ViewBag.vId)
											{
												<p>Style shown: @(productColor.Color)</p>
											}
										}
									}
								</li>
								<li>
									<p class="">Product ID: @(product.Id)</p>
								</li>
							</ul>

							<div class="accordion accordion-flush myaccordian mb-4 mt-4" id="accordionFlushExample">
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
											<div class=" col-11 d-flex justify-content-between align-items-baseline">

												@{
													int ratingCount = 0;
													float ratingTotal = 0;
													float averageRating = 0;
													foreach (ProductReviews productReview in ViewBag.ProductReviewsModel)
													{
														if (productReview.ProductId == ViewBag.Id)
														{
															ratingTotal += (float)productReview.Rating;
															ratingCount++;
														}

													}
													if(ratingCount != 0)
													{
														averageRating = ratingTotal / ratingCount;
													}
													
												}
												<h5>Reviews (@ratingCount)</h5>
												<div class="d-flex">
													<div class="rating">

														
														<div class="rating-upper" style="width: @(averageRating * 20)%">
															<span>★</span>
															<span>★</span>
															<span>★</span>
															<span>★</span>
															<span>★</span>
														</div>
														<div class="rating-lower">
															<span>★</span>
															<span>★</span>
															<span>★</span>
															<span>★</span>
															<span>★</span>
														</div>
													</div>
												</div>
											</div>
										</button>
									</h2>
									<div id="flush-collapseOne" class="accordion-collapse collapse" >
										@{
											bool alreadyReviewed = false;
										}
										@foreach (ProductReviews productReview in ViewBag.ProductReviewsModel)
										{
											if (productReview.Name == User.Identity?.Name)
											{
												alreadyReviewed = true;
												yourReviewId = productReview.Id;
											}
											else
											{

											}

											if (productReview.ProductId == ViewBag.Id)
											{
												<div class="accordion-body">
													<div class="d-flex justify-content-between align-items-baseline ">
														<h4 class="mb-0 review-name">@productReview.Name</h4>
														
														<div class="d-flex">
															<div class="rating">
																<div class="rating-upper"
																	 style="width: @(productReview.Rating * 20)%">
																	<span>★</span>
																	<span>★</span>
																	<span>★</span>
																	<span>★</span>
																	<span>★</span>
																</div>
																<div class="rating-lower">
																	<span>★</span>
																	<span>★</span>
																	<span>★</span>
																	<span>★</span>
																	<span>★</span>
																</div>
															</div>
														</div>
													</div>
													 <div>
														
														@if (productReview.Name == User.Identity?.Name)
														{
															<div class=" d-flex justify-content-start mb-3">
																<div style="cursor: pointer;" class="me-3" onclick="updateReview()" ><img class="review-operation-icon" src="~/assets/pencil-icon.png" /></div>
																<form asp-controller="ProductReviews" asp-action="Delete">
																	@{
																		int id2 = productReview.Id;
																	}
																	<input type="hidden" asp-for="@(id2)" />
																	<div class="">
																		<button type="submit" class="p-0 transparent-submit "><img class="review-operation-icon" src="~/assets/x-icon.png" /></button>
																	</div>
																</form>
															</div>
															<p id="yourMessage" class="review-message ">@productReview.Message</p>
														}
														else
														{
															<p class="review-message ">@productReview.Message</p>
														}

														
													</div>
														
													
													
												</div>
											}

										}
										<div id="updateEnterDiv" class="test23 mt-2 col-12 align-items-center flex-column">

											<h3 class="col-12 text-center ">Update your review: </h3>
											<form style=" height: fit-content;" class="col-10" asp-action="UpdateReview" method="post">
												<input type="hidden" id="Id" name="Id" value="@yourReviewId"><br>
												<input type="hidden" id="ProductId" name="ProductId" value="@ViewBag.Id"><br>
												<input type="hidden" id="Name" name="Name" value="@User.Identity?.Name"><br>
												<label for="Rating">★ Rating:</label><br>
												<div class="d-flex align-items-baseline">
													<input class="col-4 review-input" type="number" step="0.1" min="0" max="5" id="Rating" name="Rating" required>
												</div>
												<label class="mt-3" for="Message">Message:</label><br>
												<input style="height: 60px;" class=" col-12 review-input" type="text" id="Message" name="Message" required>
												<div class="mt-3 mb-3 form-group d-flex justify-content-end">
													<input type="submit" value="Submit" class="btn btn-primary" />
												</div>
											</form>
										</div>
										@if (alreadyReviewed)
										{
											canEditReview = true;
										}
										else
										{
											@if (SignInManager.IsSignedIn(User) && ratingCount > 0)
											{
												<div class="mt-2 col-12 d-flex align-items-center flex-column">

													<h3 class="col-12 text-center ">Leave a review: </h3>
													<form style=" height: fit-content;" class="col-10" asp-action="Review" method="post">

														<input type="hidden" id="ProductId" name="ProductId" value="@ViewBag.Id"><br>
														<input type="hidden" id="Name" name="Name" value="@User.Identity?.Name"><br>
														<label for="Rating">★ Rating:</label><br>
														<div class="d-flex align-items-baseline">
															<input class="col-4 review-input" type="number" step="0.1" min="0" max="5" id="Rating" name="Rating" required>
														</div>
														<label class="mt-3" for="Message">Message:</label><br>
														<input style="height: 60px;" class=" col-12 review-input" type="text" id="Message" name="Message" required>
														<div class="mt-3 mb-3 form-group d-flex justify-content-end">
															<input type="submit" value="Submit" class="btn btn-primary" />
														</div>
													</form>
												</div>
											}
										}
										@if (ratingCount == 0 && SignInManager.IsSignedIn(User))
										{
											<div class="mt-5 text-center">
												<h3>This product has not been reviewed yet. </h3>
												<h6>Be the first to review it. </h6>
											</div>

											<div class="mt-2 col-12 d-flex align-items-center flex-column">

												
												<form style="" class="col-10" asp-action="Review" method="post">

													<input type="hidden" id="ProductId" name="ProductId" value="@ViewBag.Id"><br>
													<input type="hidden" id="Name" name="Name" value="@User.Identity?.Name"><br>
													<label for="Rating">★ Rating:</label><br>
													<div class="d-flex align-items-baseline">
														<input class="col-4 review-input" type="number" step="0.1" min="0" max="5" id="Rating" name="Rating" required>
													</div>
													<label class="mt-3" for="Message">Message:</label><br>
													<input style="height: 60px;" class=" col-12 review-input" type="text" id="Message" name="Message" required>
													<div class="mt-3 mb-3 form-group d-flex justify-content-end">
														<input type="submit" value="Submit" class="btn btn-primary" />
													</div>
												</form>
											</div>
										}
										@if (!SignInManager.IsSignedIn(User))
										{
											<h6 class="mt-2 mb-2 text-center"><span class="text-danger">You must be logged in to leave a review!</span></h6>

										}

										
									</div>
									<div id="flush-collapseTwo" class="accordion-collapse collapse" >

									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
											<div class=" col-11 d-flex justify-content-between align-items-baseline">


												<h5>Shipping</h5>
												</div>
										</button>
									</h2>
									<div id="flush-collapseThree" class="accordion-collapse collapse" >
										<div class="accordion-body">
											<p>
												Enjoy <span class="fw-bold">free shipping</span>  on orders of $50 or more. Shipping for items more expensive than $50 dollars are subject to fees depending on where you live.
											</p>
											<br>
											<p>Find out your shipping fees during <a asp-controller="ShoppingCart" asp-action="Index">checkout.</a></p>
											
										</div>
										
										
										
									</div>
								</div>
							</div>

							


						}

					}
				}
			</div>
			@foreach(var brandItem in ViewBag.Brands)
			{
				if(brandItem.BrandName == brand)
				{
					
					<h3 class="mypad pb-1 fw-bold" style="margin-top: 150px;">More about this retailer</h3>
					<div class="  mb-5  ">
						<div class="col-12 retailer-info">
							<a class="fill position-relative text-decoration-none text-dark " href="@brandItem.BrandSite">

								<img class=" retailer-info-img " src="@brandItem.BrandImage" />
							</a>
						</div>
					</div>
				}
					
					
			}
			
			@{
				List<string> uniqueproduct = new List<string>();
			}
			<div class=" mt-5 mb-5 ">
				<h3 class="my-pad pb-0 fw-bold">Similar Items</h3>
				<div class="cover ">
					<button class="left" onclick="leftScroll(this)">
						<div class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
							<img style="width: 70%; height: 70%; background-color:transparent" src="~/assets/left-a.png" />

						</div>
					</button>
					
					<ul class="plain-list horizontal-product-list scroll-images pt-4 pb-4">

						@{
							uniqueproduct.Clear();
						}
						
						@foreach (var productImage in ViewBag.ProductImagesModel)
						{
							@foreach (var product in ViewBag.ProductModel)
							{

								if (product.Id == productImage.ProductId && !uniqueproduct.Contains(product.Id.ToString()) && product.Id != ViewBag.Id)
								{
									if (product.Type == type  ||  (product.Grouping != "" && product.Grouping != null && product.Grouping == grouping))
									{
										uniqueproduct.Add(product.Id.ToString());
										
										<li class="me-3 d-flex flex-column justify-content-between align-items-center" style="min-width: 200px; max-width: 200px; ">
											<div class=" text  m-2 p-0 overflow-hidden">

												<a class="text-black product-link plain-link" asp-action="ProductDisplay" asp-controller="Products" asp-route-id="@product.Id">

													<img class="horizontal-product-list-image" src="@(productImage.Image1)" alt="product image for " />
													<p class=" mb-0 fs-5 fw-bold background-secondary">$@(product.Price) <small class="fw-light" style="color: dimgray;">each</small></p>
													<h4 class="fs-5">@(product.Name)</h4>

													@if (product.Type == "Shoe")
													{
														<h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)</h5>
													}
													else
													{
														<h6 class=" "> @(product.Brand) • @(product.Type)</h6>


													}

												</a>
											</div>
											<a class=" quick-add text-decoration-none text-light" asp-controller="ShoppingCart" asp-action="QuickAddToCart" asp-route-cartItemId="@(product.Id)" asp-route-totalCost="@(product.Price)">
												<h6 class="p-0 m-0">Add to Cart</h6>
											</a>
										</li>
									}
									
								}

							}

						}

					</ul>
					<button class="right" onclick="rightScroll(this)">
						<div class="scroll-arrow-container dim d-flex justify-content-center align-items-center m-0 p-0">
							<img style="width: 70%; height: 70%; background-color:transparent" src="~/assets/right-a.png" />
						</div>

					</button>
				</div>
			</div>
		</div>
		
		@*<div class="row col-12">
			<div class=" bg-secondary col-4">
				@foreach (ProductImages productImage in ViewBag.ProductImagesModel)
				{
					@foreach (Product product in ViewBag.ProductModel)
					{
						//var temp = product.CategoryId;
						//bool temp2 = temp == 1;
						if ( productImage.ProductId == product.Id && productImage.Id > 0 && ViewBag.Id == product.Id)
						{
							<h2 class="mb-0">@(product.Name) </h2>
							<h5 class=" ">@((product.Sex == 'M') ? "Men's" : (product.Sex == 'W') ? "Women's" : "Unisex") @(product.Type)s</h5>
							<h5>$@(product.Price) </h5>
							<p>@(product.Description)</p>


							<p>@(product.Description)</p> <p>@(product.Description)</p> <p>@(product.Description)</p>
							<p>@(product.Description)</p> <p>@(product.Description)</p> <p>@(product.Description)</p> <p>@(product.Description)</p> <p>@(product.Description)</p> <p>@(product.Description)</p>
						}



					}
				}
			</div>
		</div>*@

	</div>
</div>